@media screen and (max-width: 768px){
html{
  background-color: white;
}
body {
  font-family: "ubuntu" ;
  max-width:100%;
  background-color: white;
  width:100%;
  margin:auto;
  box-shadow: 0px 3px 3px black;
}

.header {
  overflow: hidden;
  position: relative;
  margin: 0px;
  padding: 0px;
  z-index: 2;
  /*background-color: hsla(199, 98%, 48%,0.3);*/
}


.chipImg{
  overflow: hidden;
  position: fixed;
  left: 70%;
  top: 5%;
  max-width: 100%;
  width:100%;
  opacity:0.04;
  z-index: -1;
}

.headerUp{
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
}

.logo{
  margin: auto;
  width: 30%;
    display: block;
}

.logo img {
  /* position: relative; */
  float: left;
  margin: auto;
  width: 100%;
}

.title {
  text-align: center;
  margin:auto;
  margin-bottom: 5%;
  width:100%
}


h1 a{
  color: #03A9F4;
  text-align: center;
  font-size: 30pt;
  font-weight:900;
  text-shadow: 0px 2px 5px black;
}

h1 a:hover{
  color: white;
  text-align: center;
  font-size: 30pt;
}

.title h2 {
  text-align: center;
  font-size: 15pt;
  color: #727272;
}

.title h3 {
  text-align: center;
  font-size: 13pt;
  color: black;
}

a {
  text-decoration: none;
}

/*a.col-:hover  {
  background-color: #03A9F4;
  color:white;
  border-bottom:3px solid white; 
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}*/
p.col- {
    display: none;
    border-bottom: #224a87 dashed thin;
    color: #224a87;
    font-size: 18pt;
    text-align: left;
    padding: 0pt 4pt 0 4pt;
    margin-left: 3pt;
  }
li.col-:hover  {
    background-color: transparent;
/*    background-color: #93a3ab;*/
    color: #fff;
    /*background-color: #1f9fdf;*/
    /*border-bottom:2px solid white;*/ 
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
li.col- {
 
  width: 40%;
  /*margin:3pt 0pt 3pt 0pt;*/
  
  color: #03A9F4;
  display: inline-block;
  /*background-color: #3e7fa0;*/
  /*padding: 5pt 10pt 0pt 10pt;*/
  border-radius: 0pt;
  font-weight: 400;
  font-size: 12pt;
  /*vertical-align: middle;*/ 
  /*box-shadow: 0px 0px 3px black;*/
}

.menu {
  width:100%;
  max-width: 100%;
  margin: auto;
  text-align: center;

  /* display: flex;

  /*align-items: center;*/

  /* justify-content: flex-start;

  flex-wrap: wrap;*/

}


.menucontainer {
  padding: 5px 0 0px 0;
  /*margin:auto;*/
  background-color: #224a87;
  width:100%;
}

.menuheader {
    display: none;
}

.mainContainer {
  position: relative;
  margin:auto;
  margin-top: 50px;
  width: 95%;
  z-index: 3;
}

.mainContainer h2{
  margin-bottom: -5pt;
  color: #03A9F4;
  font-size: 15pt;
}

.mainContainer p{
  font-size: 11pt;
}

.lista{
  margin-top: 8pt
}

li{
  margin:0;
  font-size: 11pt;
  padding-top: 5pt;
  padding-bottom: 5pt;
  padding-left: 0pt;
  list-style-type: circle ;
}

li:hover{
  color:white;
  /*text-shadow: 1px 1px 0px black;*/
  background-color: #03A9F4;
  padding: 5pt;
}


/* ********** Footer *********** */
.footer{
    clear: both;
    position: relative;
    display: block;
    margin: 10px auto 0px auto;
    width: 100%;
	/* height: 120px; */
    background-color:  hsla(216, 60%, 33% ,0.8);
	/* display: none; */
	text-align: center;  
  
}
.footerlogos{
   height: 50px;
   /* width: 10%; */
   /* margin-left: 1%; */
   /* margin-right: 1%; */
   display: inline-block;
   margin: 1%;
   /* display: none; */
}
.footerlogos img{
    height: 100%;
	/* width: 100%; */
	/* display: none; */
}



}

/* ==================================
// *********** MOBILE CSS ***********
// ================================== */

@media screen and (max-width: 480px) {
li.col-:hover  {
    background-color: transparent;
/*    background-color: #93a3ab;*/
    color: #fff;
    /*background-color: #1f9fdf;*/
    /*border-bottom:2px solid white;*/ 
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
p.col- {
    border-bottom: #224a87 dashed thin;
    color: #224a87;
    font-size: 18pt;
    text-align: left;
    padding: 0pt 4pt 0 4pt;
    margin-left: 3pt;
}

li.col- {
 
  width: 90%;
  /*margin:3pt 0pt 3pt 0pt;*/
  
  color: #03A9F4;
  display: inline-block;
  /*background-color: #3e7fa0;*/
  /*padding: 5pt 10pt 0pt 10pt;*/
  border-radius: 0pt;
  font-weight: 400;
  font-size: 12pt;
  /*vertical-align: middle;*/ 
  /*box-shadow: 0px 0px 3px black;*/
}

.logo{
  margin: auto;
  width: 100%;
  position: relative;
  margin: 5pt 0 0 0;
}

.logo img{
    float :none;
    margin: auto;

    width:200px;
    z-index: 10;
}  

.menucontainer {
  padding: 0px 0 0px 0;
  /*margin:auto;*/
  background-color: #fff;
  width:100%;
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 5;
  opacity:1;
}

p.menu{
    
}

.mobilemenubutton{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
    /*opacity: 1;*/
}

.sword{
    display: none;
}

.footerlogos{
   height: 30px;

   display: inline-block;
   margin: 1%;
   /* display: none; */
}

}