
  
html{
    /*background-color: hsla(50, 70%, 94%,1);*/
    background-color:#f5f5f5;
    
}

body {
    position:relative;
    font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    /*font-family: "ubuntu" ;*/
    margin: auto;
    opacity: 0.99;
    /*background-image : url("../images/flo.jpg");*/
    background: url(../images/subPageHeaderBG-alter2.png);
    background-repeat: no-repeat;
}

/*body::after {
    content:"";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -5;  
    padding-top: 10px;
}*/

/*.max{
  max-width: 960px;
}*/

  
.chipImg{
  overflow: hidden;
  position: fixed;
  left: 80%;
  top:7%;
  max-width: 100%;
  width:100%;
  opacity: 0.4;
  z-index: -2;
}
/*.chipImg2{
  overflow: hidden;
  
  position: fixed;
  right: 20%;
  top:-100px;
 
  opacity: 0.3;
  z-index: -2;
  -ms-transform: rotate(90deg);  IE 9 
    -webkit-transform: rotate(90deg);  Chrome, Safari, Opera 
    transform: rotate(270deg);*/
    
/*}
.chipImg2 img {
    width: 600px;
}*/
  
.headerUp {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    width: 100%;
    height: auto;
    /*padding-top: 10px;*/
    /*text-align:right;*/
    overflow: hidden;
    /*background-color: hsla(208, 10%, 100%,0.8);*/ 
}
  
/*.headerUp::after {
    content:"";
    background-image: url(1323159129.gif);
    background: url(../images/subPageHeaderBG-alter2.jpg);
    background-repeat: no-repeat;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -5;  
    padding-top: 10px;
}*/

.sliderContain{
    
    top:0px;
    width:100%;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
     z-index: -1;
}

.title {
    position: absolute;
    top: 0px;
    text-align: right;
    margin:auto;
    margin-top:0px;
    margin-bottom: 10px;
    padding-bottom:0px;
    width:100%;
    /*border-bottom: 2px solid chocolate;*/
}
  
.title h1 {
    /*display:inline;*/
}
.title h1 span{
    color:#02a4e3;
}


.title h1>a {
/*    color: #03A9F4;*/
    color: chocolate;
    /*text-align: right;*/
    font-size: 1.5em;
    font-weight: 900;
    text-shadow: 0px 2px 5px black;
    padding-top: 1em;
    padding-right: 0.5em;
}

.title h1>a:hover{
    text-align: right;
    text-decoration: none;
    font-weight: 900;
}


.title h2 {
  margin-top :0em;
  text-align: center;
  font-size: 13.5pt;
  /*color: hsl(0, 0%, 100%);*/
  color:grey;
  text-shadow: 1px 1px 2px white;
  padding-top: 0.4em;
  padding-bottom: 0em;
}

.title h3 {
    margin:0px;
    text-align: center;
    font-size: 12pt;
    /*color: black;*/
    color:chocolate;
    background-color: hsla (0,0%,90%,0.8);
    padding-top:0.2em;
    padding-bottom: 0.5em;

}

.headings{
    display: inline-block;
    float: right;
    /*margin-top: 150px;*/
    margin-top: 0em;

    /*float:right;*/
    /*    top:0px;
    left:0px;*/
    z-index: 20;
}

.logo{
    float: left;
 /*width: 300px;*/
 top:-20px;
 
   
  }
 
.logo img {
    width:100%;
     /*padding-bottom: 100px;*/
}

.subtitles{
    width:100%;
    /*background-color: #FDE7C8;*/
    background-color: hsla(0,0%,90%,0.8);
    opacity: 1;
    position:relative;
    display: block;
    box-shadow: 0px 0px 1px black;
}

a {
  text-decoration: none;
}

.main{
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height: 100%;
    background-color: hsla(208, 0%, 100%,0.6);
    position: relative;
    padding-top: 1em;
}

.mainContainer {
    text-align: left;
    display: inline-block;
    position: relative;
    margin: 0em 0em 0em 1em;
    width: 98%;
    z-index: 3;
}

.mainContainer h2{
  margin-top: 1em;
  color: #4f88b1;
  font-size: 15pt;
  display: block;
}

.mainContainer p{
  font-size: 11pt;
}

.lista{
    margin-top: 8pt;
}

.lista>ul>li {
    margin:0;
    font-size: 11pt;
    padding-top: 5pt;
    padding-left: 5pt;
    list-style-type: circle ;
}

.footer{
    clear: both;
    position: relative;
    display: block;
    margin: 10px auto 0px auto;
    height: auto;
    background-color:  #4f88b1 ;
    /*background-color:  #7299b6;*/

    
    text-align: center;  
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

}

.footerlogos{
   height: 70px;
   /* width: 20%; */
   /* margin-left: 1%; */
   /* margin-right: 1%; */
   display: inline-block;
   margin: 1%;
}

.footerlogos img{
    height: 100%;
}

/* Edits on bootstrap classes */

.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #4f88b1;
    
}
.dropdown-menu{
    background-color: #4f88b1;
    color: #fff;
}

.dropdown-menu>li>a{
    color: #fff;
    padding-top: 6px;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
    }
}

/*Colors of the dropdown menu/button in mobile version*/
.navbar-inverse .navbar-toggle{
    border: none;
    
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    /*border-color: #101010;*/
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-inverse {
    background-color: #7299b6;
    border: 0;
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

   
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: black;
}
/*li.dropdown:hover{*/
  
/*}*/
.navbar-nav li:hover{
       
      background-color: hsla(206, 32%, 70%,0.8);
}

/*.dropdown-toggle {
    color: white;
}*/

.navbar-nav a {
    font-size:16px;
  
}
/*.sliderContain{
    
    top:0px;
    width:100%;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
     z-index: -1;
}*/

@media (max-width: 625px){
    #myCarousel{
        display:none;
    }
   .title {
    /*position: absolute;*/position: relative;
    top: 0px;
    text-align: center;
    margin:auto;
    margin-top:0px;
    /*margin-bottom: 10px;*/
    padding-bottom:0px;
    width:100%;
    font-weight: 200pt;
    
}
.logo{
    float:none;
    width:80%;
    margin:auto;
    top:-20px;
}
}
@media (min-width: 1200px){
    
    .headings{
       
        margin-top: 100px;
    }
}

 
  
  
  


